body {
    font-family: 'Lato', sans-serif !important;
    background: #f8f8f8;
    margin: 0;
}
.new {
    margin: auto;
    text-align: center;
}
.menu {
    font-size: 24px;
    background: #222;
    padding: 20px;
    width: 100%;
}

header {
    background: #222;
    height: 72px;
    padding: 0 0 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header > div {
    justify-content: end;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    width: 100%;
} */
 
.menu-cart {
    margin-right: 200px;
    width: 230px;
    justify-content: space-between;
}

.logo-search > a > img {
   margin:  0 0 5px 0;
}

.logo-search > img {
    margin: 0 0 0 40px;
}

figure {
    background: #F1E4E6;
    display: flex;
    padding: 0;
    margin: 0;
}

.main {
    background: #F1E4E6;
    width: 100%;
    height: 240px;
    font-size: 24px;
}

.footer {
    color: #F1E4E6;
    background: #222;
    width: 100%;
    height: 240px;
    font-size: 24px;
}

.ad {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    height: min-content;
    font-size: 32px;
    color: #222;
    font-weight: 700;
    margin-top: 290px;
}

.ad > h1 {
    font-size: 48px;
    font-weight: 900;
}

.ad span {
    color: #F16D7F;
}

.ad p {
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.basket-icon {
    position: relative;
}

.basket-icon > span {
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -7px;
    right: -10px;
    text-align: center;
    font-size: 14px;
}

.info {
    display: flex;
    flex-flow: wrap;
    max-width: 1600px;
    width: 100%;
    margin: auto;
    justify-content: center;
}

.block {
    width: 360px;
    height: 260px;
    margin: 65px 15px 15px;
    position: relative;
}

.block:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #211616B2;
}

.woman {
    background: url("img/woman.png") 0 0 no-repeat;
}

.man {
    background: url("img/man.png") 0 0 no-repeat;
}

.kids {
    background: url("img/kid.png") 0 0 no-repeat;
}

.stuff {
    background: url("img/stuff.png") 0 0 no-repeat;
    width: 1140px;
    height: 180px;
    margin-top: 15px;
    position: relative;
}

.stuff:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #211616B2;
}

.info > div > p {
    text-align: center;
    position: absolute;
    width: 50%;
    height: 20%;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    color: white;
    white-space: pre-line;
}

.info > div > p> span {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
 }

 .promo-bg-color {
    background-color: #F1E4E6;
    padding: 0 0 0 17px;
    margin: 0;
    width: 100%;
}

.promo-bg-color > div {
    margin: auto;
    max-width: 1630px;
    background-color: #F1E4E6;
    width: 100%;
}

.promo-image {
    background: url("./img/sad_man.png") 0 0 no-repeat;
    width: 801px;
    height: 764px;
    background-size: 100%;
}

.promo-pic {
    height: max-content;
    color: #222222FF;
    margin-top: 290px;
    border-left: 12px solid #222222FF;
    padding-left: 16px;
    margin-left: 63px;
    cursor: default;
}

.promo-pic > h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}

.promo-pic > h1 {
    font-size: 48px;
    font-weight: 900;
}

.fashion {
    color: #F16D7FFF;
}

.items {
    max-width: 1140px;
    margin: auto;
    justify-content: space-between;
    padding: 0;
}
.items .items-desc {
    padding: 25px 18px;
}

.items .items-desc > span {
    font-size: 13px;
}

.items .items-desc > p {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #5D5D5D;
}

.items-title {
    flex-direction: column;
}

.items-title-text {
    font-size: 30px;
    margin-top: 96px;
}

.items-title-desc {
    color: #9F9F9F;
    font-size: 14px;
    margin: 5px 0 48px;
    word-spacing: 1px;
}

.items-picture {
    position: relative;
    height: 420px;
    width: 100%;
    background-color: #F7E4E2;
    justify-content: center;
    
}
.items-picture:hover {
   transform: scale(1.1,1.1); 
   transition-duration: 1s;
}

.items-picture:hover .hidden-layer {
    display: flex;
}

.items .items-title-desc > p {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    color: #5D5D5D;
}
.items > li {
    height: 581px;
    width: 360px;
    background-color: #F8F8F8;
    margin-bottom: 30px;
    cursor: pointer;
    list-style-type: none;
}

.ibutton {
    justify-content: space-evenly;
    min-height: 43px;
    width: 140px;
    color: white;
    margin: auto;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    fill: white;
    font-size: 14px;
}

.ibutton > svg {
    height: 23px;
    width: 25px;
}
    
.ibutton:hover {
        color: #222222ff;
        fill: #222222ff;
        background-color: white;
    }
    
.ibutton:active {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 3px;
        fill: white;
        color: white;
    }

.price {
    color: #F16D7FFF;
}

.hidden-layer {
        display: none;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
    }

.pink-button {
    width: 211px;
    height: 47px;
    background-color: transparent;
    color: #FF6A6A;
    border: 1px solid #FF6A6A;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pink-button:hover {
    background-color: #FF6A6A;
    color: white;
}

.benefit {
    background-color: #222;
    height: 341px;
    color: white; 
    margin-top: 47px;
}

.benefit > article > div {
    width: 360px;
    padding: 0 17px;
}

.benefit > article > div > p:nth-child(2) {
    font-size: 20px;
    margin-top: 30px;
}

.benefit > article {
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: auto;
    text-align: center;
    padding-top: 103px;
    font-size: 14px;
    align-items: end;
}

.promotion {
    background: url(./img/beach.jpg) 0 0 no-repeat;
    height: 448px;
    max-width: 1600px;
    justify-content: space-around;  
    display: flex;
    margin: auto;
    align-items: center;
}

.promotion:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .7);
}

.section-position {
    position: relative;
}

.comment {
z-index: 1;
width: 360px;
text-align: center;
font-size: 20px;
}

.comment > img {
    margin-bottom: 30px;
}

.latino > span {
    font-style: italic;
}

.subscribe {
    max-width: 360px;
    z-index: 1;
    text-align: center;
    white-space: pre-line;
}

.subscribe > p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 24px;
}

.subscribe > p > span {
    font-size: 18px;
    font-weight: 400;
}

.subscribe-form {
    height: 49px;
}

.subscribe-form-btn {
    background-color: #F16D7F !important;
    color: white !important;
    font-size: 14px !important;
    border-bottom-right-radius: 25px !important;
    border-top-right-radius: 25px !important;
    width: 100px;
    border: none !important;
}

.subscribe-form-input {
    background-color: #E1E1E1 !important;
    color: #222224 !important;
    font-size: 14px !important;
    border-bottom-left-radius: 25px !important;
    border-top-left-radius: 25px !important;
    padding-left: 22px !important;
}
.social-link-bar {
    background-color: #222224;
    display: flex;
    height: 79px;
    color: white;
}

.social-media {
    background-color: white;
    width: 32px;
    height: 32px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media > svg {
    fill: black;
}

.support-block {
    max-width: 1140px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.support-block > p{
    margin-bottom: 0;
}

#menu__toggle {
  display: none;
}

.menu__btn {
  display: flex; 
  align-items: center; 
  top: 20px;
  left: 20px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* .menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
} */

.menu__box {
    background-color: white;
    display: none;
    position: absolute;
    /* visibility: hidden; */
    top: 75px;
    width: 300px;
    height: 600px;
    margin: 0;
    padding: 30px 30px 0 20px;
    list-style: none;
    z-index: 2;
}
  
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
.menu__item:hover {
    background-color: #CFD8DC;
  }

#menu__toggle:checked ~ .menu__box {
    display: block;
    right: 0;
  }

.hamburger-menu {
    margin: 0;
    display: flex;
  }

.menu__box ol li {
    list-style: none;
  }

.menu__box > ul {
    list-style: none;
  }
.social-media:hover  {
      background-color: #F16D7F;
  }

  .social-media:hover  > svg {
    fill: white !important;
}
.menu__box > ul > p {
    font-weight: 700;
}

.menu__box > ul > li > span {
    color: #F16D7F;
}

.breadcrumb-block {
    height: 149px;
    background-color: #F8F3F4;
    margin-bottom: 50px;
}

.breadcramb-center {
    display: flex;
    justify-content: space-between;
    max-width: 1140px; 
    margin: auto;
    height: 100%;
    align-items: center;

}

.breadcramb-center > h1 {
    color: #F16D7F;
    font-weight: 400;
    font-size: 24px;

}

.breadcrumb-item > a {
    color: #636363 !important;
    font-weight: 300;
    text-decoration: none;
}
.active {
    color: #F16D7F !important;  
    font-weight: 700;
}

.filter-bar {
    max-width: 1140px;
    position: relative;
    margin: auto;
    margin-bottom: 67px;
}

.dropdown-bar {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    justify-content: center;
    top: -5px;
}

.dropdown-toggle {
    background-color: transparent !important;
    color: #636363 !important;
    border: none !important;
    font-size: 14px !important;
}

.dropdown-item {
    display: flex;
    margin: 5%;
}

.dropdown-menu >li {
    display: flex;
}

.pagination {
    margin: auto;
    justify-content: space-evenly;
    background-color: white;
    height: 44px;
    width: 284px;
    border: 1px solid #EBEBEB;
    align-items: center;
}

.page-item > a {
    text-decoration: none !important;
    color: #EBEBEB !important;
}

#filter__toggle {
    opacity: 0;
}

.filter__btn {

    background-color: transparent;
    border: none;
    font-size: 14px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    z-index: 1;
}

  .filter__btn > svg { 
    margin-left: 11px;
}

.filter__box {
    background-color: white;
    display: none;
    position: absolute;
    visibility: hidden;
    flex-direction: column;
    left: 0;
    width: 360px;
    /*top: 75px;
max-width: 360px;
    min-width: 300px;
    
    height: 764px;
    margin: 0;
    padding: 80px 0;
    padding: 33px;*/
    z-index: 1;
  }

.filter__box > ul > li {
    list-style: none; 
  }

#filter__toggle:checked ~ .filter__box {
    visibility: visible;
    
    display: flex;
  }

.carousel-block {
    background-color: #F7F7F7;
    height: 777px;
    border-width: 1px;
}

.marginhelper {
    margin-bottom: 0 !important;
}

.border-contein {
    border: 1px solid #F7F7F7;   
    max-width: 1140px;
    height: 600px;
    align-items: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -65px;
    background-color: white;
    padding: 65px;
    text-align: center;
}

.border-contein button {
    justify-content: space-evenly;
    margin-top: 49px;
}

.border-contein h2 {
    color: #4D4D4D;
    font-size: 18px;
    font-weight: 300;
}

.border-contein button > svg{
    fill: #EF5B70;
}

.border-contein button:hover  > svg{
    fill: white;
}

.description {
    color: #5E5E5E;
    font-size: 14px;
    font-weight: 300;
    white-space: pre-line;
}

.description-block {
    height: 667px;
    position: relative;
}

.product-pink-hr {
    height: 3px !important;
    opacity: 1;
    background-color: #EF5B70;
    width: 63px;
    margin: 12px auto;
}

.product-gray-hr {
    opacity: 1;
    background-color: #EAEAEA;
    max-width: 641px;
    width: 100%;
    margin: 65px auto;
}

.carousel-inner {
    width: 600px !important;
}

.carousel {
    display: flex !important;
    justify-content: center !important;
}

.carousel-control-next > svg {
    fill: black;
}

.carousel-control-prev > svg {
    fill: black;
}

.carousel-control-next:hover > svg {
    fill: #F16D7F;
}

.carousel-control-prev:hover > svg {
    fill: #F16D7F;
}

.carousel-control-next {
    background-color: rgba(42, 42, 42, 0.15) !important;
    width: 47px !important;
    height: 47px;
    margin: auto;
 
}

.carousel-control-prev {
    background-color: rgba(42, 42, 42, 0.15) !important;
    width: 47px !important;
    height: 47px;
    margin: auto;
   
}

.border-contein > h1 {
    font-size: 14px;
    color: #F16D7F;
    font-weight: 300;
}

.border-contein > h2 {
    font-size: 18px;
}

.filter-content {
    width: 90%;
    margin: auto;
}

.filter-category {
    border-bottom: 1px solid #EBEBEB;
    border-left: 5px solid #EF5B70;
    padding-left: 11px;

    margin-bottom: 18px;
    color: black;
}

.filter-subcategory {
    padding-left: 16px;
    margin:0;
    color: black;
}

.filter-category > label.collapsed p {
    color: black;
}

.filter-category > label:not(.collapsed) p {
    color: #EF5B70;
}

.filter__box .filter__btn {
    margin-left: 15px;
}


.cart-items {
    width: 100%;
}

.cart-item {
    height: 306px;
    max-width: 734px;
    margin-bottom: 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: white;
}

.product-img {
    height: 100%;
}

.cart-item h2 {
 font-size: 24px;
 font-weight: 400;
 width: 200px;
 margin-bottom: 42px;
}

.cart-item p {
    margin-bottom: 6px;
}

.cart-product {
    flex-grow: 1;
    padding: 22px 31px;
}

.cart-product-svg {
    justify-content: space-between;
  
}
.cart-product-svg button {
    background-color: transparent;
    border: none;
    margin-bottom: auto;
    padding: 0;
}


.cart-class-input input {
    width: 43px;
    height: 24px;
    text-align: center;
    margin-left: 24px;
}

.cart-conteiner {
    max-width: 1140px;
    width: 100%;
    margin: 96px auto;
    /* justify-content: center; */
    justify-content: space-evenly;
}

.cart-info-input {
    margin-left: 128px;
}

.cart-info-input h1 {
    font-size: 16px;
    font-weight: 300;
}

.cart-info-input input {
    height: 45px;
    width: 360px;
    background-color: transparent;
    margin-bottom: 20px;
    border: 1px solid #A4A4A4;
    padding-left: 17px;
}

.cart-result-block {
    height: 214px;
    width: 360px;
    background-color: #F5F3F3;
    text-align: right;
    padding: 43px;
    margin-top: 57px;
}

.cart-product-btn-block {
    justify-content: space-between;
    margin-top: 72px;
    margin: 50px;
}

.cart-product-btn-block button {
    width: 235px;
    height: 50px;
    border: 1px solid #A4A4A4;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
}

.cart-info-input button {
    width: 100px;
    height: 35px;
    border: 1px solid #A4A4A4;
    background-color: transparent;
    font-size: 11px;
    font-weight: 300;
}

.cart-result-block hr {
    color: #E2E2E2;
    margin: auto;
}

.cart-result-block button {
    background-color: #FF6A6A;
    color: white;
    border: none;
    font-size: 16px;
    width: 273px;
    height: 50px;
}
.cart-product-span {
    color: #F16D7F;
}

.cart-result-block p:first-child {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 12px;
}

.cart-result-block p {
    font-weight: 300;
    margin-bottom: 0;
}

.cart-result-block span {
    color: #F16D7F;
}

.cart-result-block hr {
    background-color: #E2E2E2;
    opacity: 1;
    margin: 21px auto 17px;
}

.registration-card {
    margin: 64px 128px 110px 231px;
    display: flex;
    flex-direction: column;
    width: 358px;
    min-height: 300px;
    z-index: 1;
}

.registration-card input {
    margin-bottom: 21px;
    color: #222;
}

input::-moz-placeholder { color: #B1B1B1; font-family: 'Lato'; }
input::-webkit-input-placeholder { color: #B1B1B1; font-family: 'Lato';}

.registration-card p{
    font-size: 16px;
    font-weight: 300;
}

.registration-card p:nth-child(2) {
    margin-top: 35px; 
}

.registration-card > div > label {
    font-size: 11px;
    font-weight: 300;
}

.registration-card-radio input{
    vertical-align:middle;
    margin: 0 5px auto;
    color: #B1B1B1 !important;
    }

.registration-clue {
    color: #B1B1B1;
    font-size: 13px !important;
    font-weight: 300; 
}

.loyalty-perks {
    margin-top: 64px;
    max-width: 652px;
}

.loyalty-perks h1 {
    font-size: 24px;
    font-weight: 300; 
    margin-bottom: 22px;
}

.loyalty-perks p {
    font-size: 24px;
    font-weight: 300; 
    margin-bottom: 22px;
}

.loyalty-perks li {
    font-size: 24px;
    font-weight: 300;
    padding-top: 16px;
}

.loyalty-perks li {
    list-style-image: url(./img/checkmark.png);
}

#registration-btn {
    margin-top: 39px;
    
    margin-left: 0;
}

.registration {
display: flex;
}

button > hr {
    background-color: white;
    width: 16px;
    border: 1px solid white;
    margin-left: 10px;
    opacity: 1;
}

.button-arrow {
    margin-left: -4px;
    margin-top: 1px;
}

.breadcramb-center > h1 {
    margin-left: 16px;
}
@media (max-width: 1202px) and (min-width: 930px) {
    .menu-cart {
        margin-right: 100px;
    }
    .promo-image {
        width: 386px;
        height: 368px;
  }
    .ad {
        margin-top: 150px;
    }
    .loyalty-perks {
        margin-left: 30px;
    }
    .breadcramb-center > h1 {
        margin-left: 16px;
    }
}

@media (max-width: 929px) {
    .cart-info-input {
        margin: 15px;
    }
    .cart-info-input {
        flex-direction: row;
        display: flex; 
    }
    .cart-result-block {
        margin-top: 26px;
        margin-left: 15px;
    }
}

@media (max-width: 768px) and (min-width: 480px){
    header {
        padding: 0 30px;
    }
    header > div {
        max-width: 768px;
    }
    .menu-cart {
        margin-right: 50px;
    }
    .promo-image {
        width: 386px;
        height: 368px;
    }
    .ad {
        margin-top: 138px;
    }
    .block {
        width: 232px;
        height: 167px;
        margin: 18px 10px 10px;
        background-position: top;
    }
    .items {
        justify-content: space-around;
    }
    .benefit {
        height: 610px;
    }
    .benefit > article {
        flex-direction: column;
        padding-top: 48px;
        align-items: center;
    }
    .promotion {
        flex-direction: column;
        padding-top: 53px;
        padding-bottom: 140px;
        height: 693px;
        background: url(img/beach2.png);
    }
    .items-picture:hover {
        transform: none; 
     }
    .registration-card {
        margin-left: 17px;
        margin-bottom: 0;
    }
    .info > div > p {
        text-align: center;
        top: -50px;
    }
    .cart-info-input {
        margin: 15px;
    }
    .cart-info-input {
        flex-direction: row;
        display: flex; 
    }
    .cart-result-block {
        margin-top: 26px;
        margin-left: 15px;
    }
    .loyalty-perks {
        margin-left: 30px;
    }
    .loyalty-perks h1 {
        font-size: 16px;
    }
    .loyalty-perks p {
        font-size: 16px;
    }
    .loyalty-perks li {
        font-size: 16px;}
}

@media (max-width: 479px) {
    header {
        padding: 0;
    } 
    .menu-cart a, .basket-icon {
        display: none;
    }
    
    /* #menu__toggle:checked .basket-icon {
        display: block;
      } */
    .menu-cart {
        margin-right: 0;
        justify-content: right;
    }
    .promo-image {
        display: none;
    }
    .logo-search > img {
        margin: 0 0 0 10px;
    }
    .ad {
        margin-top: 0;
    }
    .promo-bg-color > div {
        
        height: 300px;
        justify-content: center;
        align-items: center;
    }
   .block {
        margin: 15px 15px 15px;
        background-position: top;
    } 
    .woman {
        margin-top: 64px;
    }
   .items {
        justify-content: space-around;
    }
    .benefit {
        height: 610px;
    }
    .benefit > article {
        flex-direction: column;
        padding-top: 48px;
        align-items: center;
    }
    .promotion {
        flex-direction: column;
        padding-top: 53px;
        padding-bottom: 140px;
        height: 693px;
        background: url(img/beach2.png);
    }
    .items-picture:hover {
        transform: none; 
     }
    .registration-card {
        margin-left: 17px;
        margin-bottom: 0;
    }
    .loyalty-perks {
        margin-left: 17px;
    }
    .cart-info-input {
        margin: 15px;
    }
    .cart-info-input {
        flex-direction: column;
        display: flex; 
    }
    .cart-result-block {
        margin-top: 26px;
        margin-left: 15px;
    }
    .support-block {
        justify-content: center;
    }
    .breadcramb-center {
        flex-direction: column;
        justify-content: center;
    }
    .filter__btn > span {
        opacity: 0;
    }
    .dropdown-bar {
        margin-left: 75px;
    }
    .cart-product {
        height: 188px;
        max-width: 375px;
    }
    .cart-item h2 {
        font-size: 16px;
        font-weight: 400;
        width: 144px;
        margin-bottom: 25px;
       }
       
    .cart-item p {
        margin-bottom: 4px;
        font-size: 16px;
    }
    .cart-item {
        height: 200px;
        max-width: 400px;
        margin-bottom: 32px;
        margin-left: 15px;
     }
    .cart-conteiner {
        margin: 39px 0 30px;
    }
    .cart-product-btn-block {
        margin-top: 32px;
        margin: 10px;
    }  
    .cart-product-btn-block button {
        width: 175px;
    } 
    .loyalty-perks h1 {
        font-size: 16px;
    }
    .loyalty-perks p {
        font-size: 16px;
    }
    .loyalty-perks li {
        font-size: 16px;
    }
    .registration {
       flex-direction: column;
    }
}